* {
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
}

.nav {
  margin: 0;
  padding: 0;
  background-color: white;
}

.nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-bar a {
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;
  font-family: "Noto Sans ", sans-serif;
  color: #72767a;
}

.nav .nav-bar a:hover {
  text-decoration: underline;
  cursor: pointer;
  padding-left: 20px;
  font-family: "Noto Sans ", sans-serif;
  color: #979797;
}

.nav .nav-bar .drop-menu {
  margin-left: 10px;
  padding: 5px 8px;
  background-color: white;
  color: gray;
  font-family: "Noto Sans ", sans-serif;
  border: none;
  outline: none;
  border-radius: 50%;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.nav .nav-bar .drop-menu:hover {
  margin-left: 10px;
  padding: 5px 8px;
  background-color: #fff;
  color: gray;
  font-family: "Noto Sans ", sans-serif;
  border: none;
  outline: none;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.nav .nav-bar .sign-in {
  margin-left: 10px;
  padding: 5px 8px;
  background-color: dodgerblue;
  color: white;
  font-family: "Noto Sans ", sans-serif;
  border: none;
  outline: none;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.nav .nav-bar .sign-in:hover {
  margin-left: 10px;
  padding: 5px 8px;
  background-color: dodgerblue;
  color: white;
  font-family: "Noto Sans ", sans-serif;
  border: none;
  outline: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form {
  position: relative;
  margin-top: 70px;
  left: 48%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form .form-1 .form-2 .search-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dfe1e5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 50px;
  width: 500px;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 10px -5px #000;
          box-shadow: 0 5px 10px -5px #000;
}

.form .form-1 .form-2 .search-bar .icon {
  position: absolute;
  width: 34px;
  height: 50%;
  top: 30%;
  left: 15px;
  color: #c0c4c7;
  border: none;
  background-color: #fff;
  border-radius: 0;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form .form-1 .form-2 .search-bar .text {
  position: absolute;
  left: 40px;
  height: 34px;
  width: 80%;
  border: none;
  font-size: 20px;
  outline: none;
  font-family: "Noto Sans ", sans-serif;
}

.form .form-1 .form-2 .search-bar .icon-mic {
  position: absolute;
  width: 20px;
  height: 50%;
  top: 30%;
  right: 5px;
  border: none;
  color: blue;
  background-color: #fff;
  border-radius: 0;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.form .form-1 .form-2 .search-bar .icon-mic:hover {
  position: absolute;
  width: 20px;
  height: 50%;
  top: 30%;
  right: 5px;
  border: none;
  color: blue;
  background-color: #fff;
  border-radius: 0;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form .submit-button {
  position: absolute;
  left: 12%;
  margin-top: 10px;
}

.form .submit-button input[type="submit"] {
  margin: 10px;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  font-family: "Noto Sans ", sans-serif;
  color: #3c4043;
  background-color: #f8f9fa;
  border: none;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.form .submit-button input[type="submit"]:hover {
  margin: 10px;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  color: #3c4043;
  background-color: #f8f9fa;
  border: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
  position: relative;
  margin-top: 250px;
}

.header .google-image {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section {
  position: relative;
  margin-top: 120px;
  font-family: "Noto Sans ", sans-serif;
}

.section .section-1 {
  position: absolute;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 25px;
}

.section .section-1 p {
  font-family: "Noto Sans ", sans-serif;
  font-size: 15px;
  color: #3c4043;
}

.section .section-1 p a {
  text-decoration: none;
}

.section .section-1 p a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  width: 100%;
  max-width: 100%;
  bottom: 0;
  background-color: #f2f2f2;
  font-family: "Noto Sans ", sans-serif;
}

footer .container1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

footer .container1 .row {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #aca9a9;
  color: #666;
}

footer .container1 .row a {
  text-decoration: none;
  color: #666;
  padding: 6px;
  margin: 5px;
  margin-top: 5px;
}

footer .container1 .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

footer .container1 .row1 .footer-left {
  width: 50%;
  padding: .1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .container1 .row1 .footer-left a {
  padding: .4em;
  text-decoration: none;
  color: #666;
  margin: 5px;
}

footer .container1 .row1 .footer-right {
  width: 50%;
  padding: .1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .container1 .row1 .footer-right a {
  padding: .4em;
  text-decoration: none;
  color: #666;
  margin: 5px;
}
/*# sourceMappingURL=index.css.map */