$font: arial, sans-serif;

*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    margin: 0;
    padding: 0;
}

.nav{
    margin: 0;
    padding: 0;
    background-color:white;

    .nav-bar{
        display: flex;
        float: right;
        flex-direction: row;
        height: 40px;
        padding: 10px;
        align-items: center;

        a{
            text-decoration: none;
            cursor: pointer;
            padding-left: 20px;
            font-family: $font;
            color: dimgray;
        }

        a:hover{
            text-decoration: underline;
            cursor: pointer;
            padding-left: 20px;
            font-family: $font;
            color: dimgray;
        }

        button{
            margin-left: 10px;
            padding: 5px 8px;
            background-color: dodgerblue;
            color: white;
            font-family: $font;
            border: none;
            outline: none;
            transition: all 0s ease-in-out;
        }

        button:hover{
            margin-left: 10px;
            padding: 5px 8px;
            background-color:dodgerblue;
            color: white;
            font-family: $font;
            border: none;
            outline: none;
            transform: scale(1.1);
        }
    }
}

.header{
    position: relative;
    margin-top: 250px;

    .google-image{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}

.form{
    position: relative;
    margin-top: 70px;

    .form-1{
        position: absolute;
        left: 48%;
        transform: translate(-50%,-50%);
        height: 50px;
        margin: 20px;

        .search-bar{

            input[type="text"]{
                width: 500px;
                height: 40px;
                vertical-align: middle;
                border-radius: 50px;
                border: 1px solid black;
                transition: all 0s ease-in-out;
            }

            input[type="text"]:hover{
                width: 500px;
                height: 40px;
                vertical-align: middle;
                border-radius: 50px;
                border: 1px solid black;
                box-shadow: 5%;
                transform: scale(1.1);
            }
            input[type="text"]:focus{
                width: 500px;
                height: 40px;
                vertical-align: middle;
                border-radius: 50px;
                border: 1px solid black;
                box-shadow: 5%;
                transform: scale(1.1);
                outline: none;
                font-size: 20px;
            }
        }

        .submit-button{
            position: absolute;
            margin: 9px;
            left: 12%;
            input[type="submit"]{
                margin: 10px;
                width: 150px;
                height: 30px;
                border-radius: 50px;
                border: none;
                transition: all 0s ease-in-out;
            }

            input[type="submit"]:hover{
                margin: 10px;
                width: 150px;
                height: 30px;
                border-radius: 50px;
                border: none;
                transform: scale(1.1);
            }
        }
    }

    
}

.section{
    position: relative;
    margin-top: 120px;
    
    .section-1{
        position: absolute;
        left: 49%;
        transform: translate(-50%,-50%);
        height: 25px;

        p{
            font-family: $font;
            font-size: 15px;

            a{
                text-decoration: none;
            }

            a:hover{
                text-decoration: underline;
            }
        }
    }
}

