* {
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
}

.nav {
  margin: 0;
  padding: 0;
  background-color: white;
}

.nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-bar a {
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;
  font-family: arial, sans-serif;
  color: dimgray;
}

.nav .nav-bar a:hover {
  text-decoration: underline;
  cursor: pointer;
  padding-left: 20px;
  font-family: arial, sans-serif;
  color: dimgray;
}

.nav .nav-bar button {
  margin-left: 10px;
  padding: 5px 8px;
  background-color: dodgerblue;
  color: white;
  font-family: arial, sans-serif;
  border: none;
  outline: none;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.nav .nav-bar button:hover {
  margin-left: 10px;
  padding: 5px 8px;
  background-color: dodgerblue;
  color: white;
  font-family: arial, sans-serif;
  border: none;
  outline: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form {
  position: relative;
  margin-top: 70px;
}

.form .form-1 {
  position: absolute;
  left: 48%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  margin: 20px;
}

.form .form-1 .search-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .form-1 .search-bar .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50px;
}

.form .form-1 .search-bar .bar .icon {
  top: 50%;
  left: 0;
  height: 30px;
  width: 15px;
}

.form .form-1 .search-bar .bar input[type="text"] {
  margin-left: 15px;
  font-size: 20px;
  width: 400px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50px;
  border: 1px solid black;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  border: none;
}

.form .form-1 .search-bar .bar input[type="text"]:hover {
  width: 400px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 5%;
          box-shadow: 5%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form .form-1 .search-bar .bar input[type="text"]:focus {
  width: 400px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 5%;
          box-shadow: 5%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: none;
  font-size: 20px;
}

.form .form-1 .submit-button {
  position: absolute;
  margin: 9px;
  left: 12%;
}

.form .form-1 .submit-button input[type="submit"] {
  margin: 10px;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  border: none;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.form .form-1 .submit-button input[type="submit"]:hover {
  margin: 10px;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  border: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
  position: relative;
  margin-top: 250px;
}

.header .google-image {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section {
  position: relative;
  margin-top: 120px;
}

.section .section-1 {
  position: absolute;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 25px;
}

.section .section-1 p {
  font-family: arial, sans-serif;
  font-size: 15px;
}

.section .section-1 p a {
  text-decoration: none;
}

.section .section-1 p a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  width: 100%;
  max-width: 100%;
  bottom: 0;
  background-color: #e4e4e4;
}

footer .container1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

footer .container1 .row {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #aca9a9;
  color: #666;
}

footer .container1 .row a {
  text-decoration: none;
  color: #666;
  padding: 6px;
  margin: 5px;
  margin-top: 5px;
}

footer .container1 .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

footer .container1 .row1 .footer-left {
  width: 50%;
  padding: .1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .container1 .row1 .footer-left a {
  padding: .4em;
  text-decoration: none;
  color: #666;
  margin: 5px;
}

footer .container1 .row1 .footer-right {
  width: 50%;
  padding: .1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .container1 .row1 .footer-right a {
  padding: .4em;
  text-decoration: none;
  color: #666;
  margin: 5px;
}
/*# sourceMappingURL=index.css.map */