$font: 'Noto Sans ', sans-serif;

*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    margin: 0;
    padding: 0;
}

.nav{
    margin: 0;
    padding: 0;
    background-color:white;

    .nav-bar{
        display: flex;
        float: right;
        flex-direction: row;
        height: 40px;
        padding: 10px;
        align-items: center;

        a{
            text-decoration: none;
            cursor: pointer;
            padding-left: 20px;
            font-family: $font;
            color: #72767a;
        }

        a:hover{
            text-decoration: underline;
            cursor: pointer;
            padding-left: 20px;
            font-family: $font;
            color: rgb(151, 151, 151);
        }

        .drop-menu{
            margin-left: 10px;
            padding: 5px 8px;
            background-color:white;
            color: gray;
            font-family: $font;
            border: none;
            outline: none;
            border-radius: 50%;
            transition: all 0s ease-in-out;
            
            
        }

        .drop-menu:hover{
            margin-left: 10px;
            padding: 5px 8px;
            background-color:#fff;
            color: gray;
            font-family: $font;
            border: none;
            outline: none;
            transform: scale(1.7);
        }

        .sign-in{
            margin-left: 10px;
            padding: 5px 8px;
            background-color: dodgerblue;
            color: white;
            font-family: $font;
            border: none;
            outline: none;
            transition: all 0s ease-in-out;
        }

        .sign-in:hover{
            margin-left: 10px;
            padding: 5px 8px;
            background-color:dodgerblue;
            color: white;
            font-family: $font;
            border: none;
            outline: none;
            transform: scale(1.1);
        }
    }
}

.form{
    position: relative;
    margin-top: 70px;
    left: 48%;
    width: 400px;
    transform: translate(-50%,-50%);
    
    

    .form-1{
        .form-2{
            .search-bar{
                position: relative;
                display: flex;
                border: 1px solid #dfe1e5;
                justify-content: space-between;
                border-radius: 50px;
                width: 500px;
                height: 45px;
                align-items: center;
               
                box-shadow: 0 5px 10px -5px #000;
                

                .icon{
                    position: absolute;
                    width: 34px;
                    height: 50%;
                    top: 30%;
                    left: 15px;
                    color:#c0c4c7;
                    border: none;
                    background-color: #fff;
                    border-radius: 0;
                    align-content: center;
                    
                }

                .text{
                    position: absolute;
                    left: 40px;
                    height: 34px;
                    width: 80%;
                    border: none;
                    font-size: 20px;
                    outline: none;
                    font-family: $font;
                }

                .icon-mic{
                    position: absolute;
                    width: 20px;
                    height: 50%;
                    top: 30%;
                    right: 5px;
                    border: none;
                    color: blue;
                    background-color: #fff;
                    border-radius: 0;
                    align-content: center;
                    transition: all 0s ease-in-out;
                }

                .icon-mic:hover{
                    position: absolute;
                    width: 20px;
                    height: 50%;
                    top: 30%;
                    right: 5px;
                    border: none;
                    color: blue;
                    background-color: #fff;
                    border-radius: 0;
                    align-content: center;
                    transform: scale(1.1);
                }
            }
        }
    }

    .submit-button{
        position: absolute;
        left: 12%;
        margin-top: 10px;
        
        input[type="submit"]{
            margin: 10px;
            width: 150px;
            height: 30px;
            border-radius: 50px;
            font-family: $font;
            color: #3c4043;
            background-color: #f8f9fa;
            border: none;
            transition: all 0s ease-in-out;
        }

        input[type="submit"]:hover{
            margin: 10px;
            width: 150px;
            height: 30px;
            border-radius: 50px;
            color: #3c4043;
            background-color: #f8f9fa;
            border: none;
            transform: scale(1.1);
        }
    }
}

    


.header{
    position: relative;
    margin-top: 250px;

    .google-image{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}




.section{
    position: relative;
    margin-top: 120px;
    font-family: $font;
    
    .section-1{
        position: absolute;
        left: 49%;
        transform: translate(-50%,-50%);
        height: 25px;

        p{
            font-family: $font;
            font-size: 15px;
            color: #3c4043;

            a{
                text-decoration: none;
            }

            a:hover{
                text-decoration: underline;
            }
        }
    }
}




footer{
    position: fixed;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    background-color: #f2f2f2;
    font-family: $font;

    .container1{
        display: grid;
        width: 100%;

        .row{
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid rgb(172, 169, 169);
            color: #666;

            a{
                text-decoration: none;
                color: #666;
                padding: 6px;
                margin:5px;
                margin-top: 5px;
            }
        }

        .row1{
            display: flex;
            justify-content: space-between;
            padding: 5px;

            .footer-left{
                width: 50%;
                padding: .1em;
                display: flex;
                justify-content: flex-start;

                a{
                    padding: .4em;
                    text-decoration: none;
                    color: #666;
                    margin: 5px;
                }
            }

            .footer-right{
                width: 50%;
                padding: .1em;
                display: flex;
                justify-content: flex-end;

                a{
                    padding: .4em;
                    text-decoration: none;
                    color: #666;
                    margin: 5px;
                }
            }
        }
    }
}