* {
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
}

.nav {
  margin: 0;
  padding: 0;
  background-color: white;
}

.nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-bar a {
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;
  font-family: arial, sans-serif;
  color: dimgray;
}

.nav .nav-bar a:hover {
  text-decoration: underline;
  cursor: pointer;
  padding-left: 20px;
  font-family: arial, sans-serif;
  color: dimgray;
}

.nav .nav-bar button {
  margin-left: 10px;
  padding: 5px 8px;
  background-color: dodgerblue;
  color: white;
  font-family: arial, sans-serif;
  border: none;
  outline: none;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.nav .nav-bar button:hover {
  margin-left: 10px;
  padding: 5px 8px;
  background-color: dodgerblue;
  color: white;
  font-family: arial, sans-serif;
  border: none;
  outline: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
  position: relative;
  margin-top: 250px;
}

.header .google-image {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form {
  position: relative;
  margin-top: 70px;
}

.form .form-1 {
  position: absolute;
  left: 48%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  margin: 20px;
}

.form .form-1 .search-bar input[type="text"] {
  width: 500px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50px;
  border: 1px solid black;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.form .form-1 .search-bar input[type="text"]:hover {
  width: 500px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50px;
  border: 1px solid black;
  -webkit-box-shadow: 5%;
          box-shadow: 5%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form .form-1 .search-bar input[type="text"]:focus {
  width: 500px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50px;
  border: 1px solid black;
  -webkit-box-shadow: 5%;
          box-shadow: 5%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: none;
  font-size: 20px;
}

.form .form-1 .submit-button {
  position: absolute;
  margin: 9px;
  left: 12%;
}

.form .form-1 .submit-button input[type="submit"] {
  margin: 10px;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  border: none;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.form .form-1 .submit-button input[type="submit"]:hover {
  margin: 10px;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  border: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section {
  position: relative;
  margin-top: 120px;
}

.section .section-1 {
  position: absolute;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 25px;
}

.section .section-1 p {
  font-family: arial, sans-serif;
  font-size: 15px;
}

.section .section-1 p a {
  text-decoration: none;
}

.section .section-1 p a:hover {
  text-decoration: underline;
}

.above-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f3efef;
  color: black;
  text-align: left;
  height: 80px;
}

.above-footer .france {
  font-family: arial, sans-serif;
  margin-top: 10px;
  position: absolute;
  left: 2%;
  font-size: 15px;
}
/*# sourceMappingURL=index.css.map */